{% extends "page.html.twig" %}

{% block page_content %}
  <div id="main-page-content" class="page-content page-content--full-width">
    {% block content %}
      {{ page.content }}
    {% endblock %}
  </div>
{% endblock page_content %}
