@import '../../variables';

.region-copyright {
  font-size: rem(16px);
  padding: rem(28px 5vw);

  a {
    font-size: rem(20px);
    text-decoration: none;
    color: black;
  }

  a.footer-mail-link {
    color: var(--color--ept-orange);
  }
}