@import "../../variables";

// Default styles for slick slider. For specific displays use
// files with the config name in it (slick-slider--card-slider.scss)

div.slick {
  position: relative;

  ul.slick-dots {
    list-style-type: none;
    margin: rem(0 0 50px 0);

    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: rem(10px);

    li {
      button {
        width: rem(20px);
        height: rem(20px);
        border-radius: 50%;
        background-color: var(--rad--color--slider--background);
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-size: 0;

        &:before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: var(--rad--color--slider--background-active);
        }

      }
    }
  }

  nav.slick__arrow {
    button {
      font-size: rem(32px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      background: rgba(33, 33, 33, 0.8);
      color: #c3c3c3;
      cursor: pointer;
      padding: rem(4px);
      border-radius: 3px;
    }

    .slick-disabled {
      color: var(--color--text--disabled);
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }
}