@import "../../variables";

.flip-card {
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.flip-card[aria-pressed="true"] {
  transform: rotateY(180deg);
}

.flip-card__inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}


.flip-card__back[aria-hidden="true"] {
  display: none;
}

.flip-card__front,
.flip-card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}