@import "../variables";

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.sr-only, .visually-hidden {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}