@import "../../variables";


// TODO: Move starting colors to child theme!
header.header {
  position: relative;
  //background: var(--color--gray--three);
  z-index: 10;

  //color: var(--color--gray--one);
  a, button {
    //color: var(--color--gray--one);
  }
}

.header__inner {
  display: grid;
  margin: 0 auto;
  max-width: var(--rad--content-width-normal);


  grid-template-areas:
    "branding";

  @include media($breakpoint-sm) {
  }

  @include media($breakpoint-md) {

    grid-template-areas:
      "branding"
      "secondarynav"
      "primarynav";
  }

  @include media($breakpoint-lg) {

  }

  @include media($breakpoint-xl) {

  }
}

.header__branding-wrapper {
  grid-area: branding;
}

.header__primary-nav-wrapper {
  grid-area: primarynav;
}

.header__secondary-nav-wrapper {
  grid-area: secondarynav;
}

.primary_navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
