@import "../../variables";

header.header {
  background: lightgreen;
}

.header__inner {
  display: grid;
  margin: 0 auto;
  max-width: var(--rad--content-width--default);


  grid-template-areas:
    "branding";

  @include media($breakpoint-sm) {
    max-width: var(--rad--content-width--sm);
  }

  @include media($breakpoint-md) {
    max-width: var(--rad--content-width--md);

    grid-template-areas:
    "branding"
    "secondarynav"
    "primarynav";
  }

  @include media($breakpoint-lg) {
    max-width: var(--rad--content-width--lg);

    grid-template-areas:
    "branding  secondarynav"
    "branding  primarynav";
  }

  @include media($breakpoint-xl) {
    max-width: var(--rad--content-width--xl);
  }
}

.header__branding-wrapper {
  grid-area: branding;
}

.header__primary-nav-wrapper {
  grid-area: primarynav;
}

.header__secondary-nav-wrapper {
  grid-area: secondarynav;
}
