
.card-carousel {
  max-width: 90vw;
  margin: 0 auto;

  .splide__slide {
    margin-right: calc(24/16 * 1rem);
  }
}

.card-carousel__carousel-wrapper {

  @media (min-width: calc(786/16 * 1rem)) {
    margin: 0 auto;
    max-width: calc(700/16 * 1rem);
  }

  @media (min-width: calc(992/16 * 1rem)) {
    max-width: calc(900/16 * 1rem);
  }
}