section.highlight {
  padding: 0;

  @media (min-width: calc(992/16 * 1rem)) {
    height: calc(600/16 * 1rem);
  }

  .highlight__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.highlight__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: 42rem) {
    flex-direction: row;
  }
}

.highlight__media {
  flex: 0 0 100%;
  width: 100%;

  @media (min-width: calc(992/16 * 1rem)) {
    flex: 0 0 50%;
    width: 50%;

    div:not(.contextual):not([data-contextual-id]), img {
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      object-fit: cover;
      height: calc(600/16 * 1rem);
    }
  }
}

.highlight__content {
  flex: 0 1 100%;
  width: 100%;
  padding: 0.9rem;
  box-sizing: border-box;

  @media (min-width: calc(992/16 * 1rem)) {
    flex: 0 0 50%;
    width: 50%;
    padding: 1.8rem;
  }
}

section.highlight {

  &.setting--layout--media-on-right .highlight__inner {
    flex-direction: row-reverse;
  }

  &.setting--layout--media-on-left .highlight__inner {
    flex-direction: row;
  }

  &.setting-layout--media-on-top {
    flex-direction: column;

    .highlight__media, .highlight__content {
      flex: 0 0 100%;
      width: 100%;
    }
  }


  &.setting--alignment--left {
    .highlight__content {
      text-align: left;
      align-items: flex-start;
    }

    .slot--actions {
      justify-content: flex-start;
    }
  }

  &.setting--alignment--center {
    .highlight__content {
      text-align: center;
      align-items: center;
    }

    .slot--actions {
      justify-content: center;
    }
  }

  &.setting--alignment--right {
    .highlight__content {
      text-align: right;
      align-items: flex-end;
    }

    .slot--actions {
      justify-content: flex-end;
    }
  }

}

.field-highlight-title {
  h2 {
    font-size: 1.3rem;
    margin-top: 0;

    @media (min-width: calc(992/16 * 1rem)) {
      font-size: 1.5rem;
    }
  }
}

.highlight__actions {
  width: 100%;
}