@import '../../variables';

.menu-item-button {
  background-color: white;
  border: 3px solid var(--color--deep-purple);
  border-radius: rem(20px);
  color: var(--color--deep-purple);
  font-family: $font--karla;
  font-size: rem(16px);
  font-weight: 700;
  min-width: rem(100px);
  line-height: rem(24px);
  padding: rem(5px 5px 5px 5px);
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: var(--color--deep-purple);
    color: white;
  }

  // icons
  svg,
  i {
    margin-left: rem(7px);
    font-size: 0.96em;
  }

  @include media($breakpoint-lg) {
    padding: rem(5px 9px 5px 9px);
    font-size: rem(16px);
    border-radius: rem(40px);
    min-width: rem(100px);
  }

  @include media($breakpoint-xl) {
    padding: rem(11px 12px 14px 12px);
    font-size: rem(20px);
    border-radius: rem(160px);
    min-width: rem(110px);
  }

  @include media($breakpoint-xxl) {
    padding: rem(11px 16px 14px 16px);
    font-size: rem(22px);
    border-radius: rem(360px);
    min-width: rem(130px);
  }
}

.menu-item-button--purple {
  background: var(--color--deep-purple);
  color: white;
  border: 3px solid var(--color--deep-purple);

  &:hover,
  &:focus {
    background: white;
    color: var(--color--deep-purple);
  }
}
