.numbers-highlight {
  background-color: lightgray;
  border-radius: calc(10 / 16 * 1rem);
  padding: calc(20 / 16 * 1rem);




  &.setting--alignment--center {
    .number-highlight {
      justify-content: center;
    }
  }

  &.setting--alignment--right {
    .number-highlight {
      justify-content: flex-end;
    }
  }

}