@import "../../variables";

.paragraph--type--logo-grid-item {
  margin-bottom: rem(25px);

  .logo-grid-item {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: rem(12px);
  }

  .logo-grid-item a {
    color: var(--color--text);
    text-decoration: none;
    font-size: rem(19px);
  }

}