@import '../../variables';

.button {
  align-items: center;
  background-color: var(--rad--default-button-background-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--rad--default-button-background-color);
  border-radius: 0;
  color: var(--rad--default-button-text-color);
  display: inline-flex;
  font-family: $font--helvetica;
  font-size: rem(24px);
  font-weight: 700;
  justify-content: center;
  margin: rem(0 0 15px);
  padding: rem(10px 25px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  // @include media($breakpoint-md) {
  //   letter-spacing: rem(2px);
  // }

  //&:focus,
  //&:hover {
  //  background: transparent;
  //  color: $color--default-button-bg;
  //}
}

.button--rounded {
  border-radius: rem(25px);
}

.button--small {
  padding: rem(4px 15px);
  font-size: rem(18px);
}

.button--transparent {
  background-color: white;
  border-color: var(--color--deep-purple);
  color: var(--color--deep-purple);

  &:hover {
    background-color: var(--color--deep-purple);
    border-color: var(--color--deep-purple);
    color: white;
  }
}

.button--purple {
  background-color: var(--color--deep-purple);
  border-color: var(--color--deep-purple);
  color: white;

  &:hover {
    background-color: white;
    border-color: var(--color--deep-purple);
    color: var(--color--deep-purple);
  }
}