.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(15/16 * 1rem);


  /* Without this the buttons will expand to the column width when in vertical layout */
  > .button {
    width: fit-content;
  }
}

.buttons {
  &.setting--alignment--left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.setting--alignment--center {
    justify-content: center;
    align-items: center;
  }

  &.setting--alignment--right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  &.setting--direction--vertical {
    flex-direction: column;
  }

  &.setting--direction--horizontal {
    flex-direction: row;
  }
}