@import "../../variables";

.header__primary-nav-wrapper {

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .block-superfishmain {
    ul.sf-main {
      display: flex;
      flex-direction: row;
      gap: rem(25px);

      justify-content: flex-end;
    }

    li.sf-depth-1 {

      &.sfHover {
        > a {
          background: var(--color--gray--one);
          color: var(--color--gray--five);
        }
      }
    }

    a.sf-depth-1 {
      text-decoration: none;
      color: black;
      font-size: rem(14px);
    }


    li.sfHover.sf-depth-1 > ul {
      top: 100% !important;
    }

    a.sf-depth-2 {
      text-decoration: none;
      color: black;
      font-size: rem(14px);

      &:focus, &:hover {
        text-shadow: 1px 0px 0px white;
      }
    }


  }
}