.node-event-full__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: calc(768/16 * 1rem)) {
    display: grid;
    gap: 2rem;

    grid-template-rows: auto 1fr;
    grid-template-columns: auto calc(350/16 * 1rem);
    grid-template-areas:
       "title sidebar"
       "content sidebar"
  }
}

.node-event-full__title-wrapper {
  grid-area: title;
}

.node-event-full__details-wrapper {
  grid-area: sidebar;
}

.node-event-full__content-wrapper {
  grid-area: content;
}


/** Individual Fields and Data **/

.node-event-full__title {
  margin-top: 0;
  font-size: calc(42/16 * 1rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.node-event-full__featured-image {
  margin-bottom: 1.5rem;
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.node-event-full__event-type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9rem;

  padding: 0.7rem 1.5rem;
  background-color: lightgray;
  color: black;
  border-radius: 1rem;
  margin-bottom: 2rem;
}