
.paragraph--type--statistic-item.paragraph--view-mode--default {
  height: 100%;
}

.stat-card {
  text-align: center;
  border-radius: calc(6/16 * 1rem);
  padding: calc(20/16 * 1rem);
  /*height: 100%;*/
  box-sizing: border-box;
}

.stat-card__media {
  margin-bottom: calc(20/16 * 1rem);

  img {
    margin: 0 auto;
    width: calc(150/16 * 1rem);
    height: auto;
  }
}

.stat-card__value {
  font-size: calc(42/16 * 1rem);
}

.stat-card__label {
  font-size: calc(28/16 * 1rem);

  h2, h3, h4, p {
    margin: calc(10/16 * 1em) 0 calc(20/16 * 1rem) 0;
  }

}