/**
This should contain settings for all components that are not specific to a component.

Mostly this applies the settings coming from the config on the components, things like
background or alignment. If a components needs to apply these thigns in a unique way then
it should handle that in the component itself.
 */

// Default block styles. Can be overridden
.block--block-content {
  //--component-padding: 40px;
  //--inline-component-padding: 10px;
  //padding: rem( var(--component-padding)) 0;

  --component-margins: 40px;
  --inline-component-margin: 10px;
  margin-top: var(--component-margins);
  margin-bottom: var(--component-margins);
}

// the "inner" block of all content blocks. All content will, by default, exist
// within the normal content column.
.block__content {
  //max-width: var(--rad--content-width-normal);
  //margin: 0 auto;
}

.setting-content-width--wide  .block__content__inner {
  max-width: var(--rad--content-width-wide);
  margin: 0 auto;
}

.setting-content-width--normal  .block__content__inner {
  max-width: var(--rad--content-width-normal);
  margin: 0 auto;
}

.setting-content-width--narrow  .block__content__inner {
  max-width: var(--rad--content-width-narrow);
  margin: 0 auto;
}


// Settings, these are controlled by the component config/taxonomy items.
.setting-alignment--center {
  text-align: center;
}

.setting-alignment--right {
  text-align: right;
}


// This should always be handled on the component level since it's fairly specific to
// the component itself.
.setting-layout--media-on-left {

}

.setting-width--full-width {
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
  width: 100vw;
  padding: 0;
  border: 0;
}