.person-detailed-listing {
  margin-bottom: 1.5rem;
}

.person-detailed-listing__inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: calc(768/16 * 1rem)) {
    flex-direction: row;
  }
}

.person-detailed-listing__media {
  flex: 1 1 auto;
  max-width: calc(200/16 * 1rem);

  @media (min-width: calc(768/16 * 1rem)) {
    flex: 0 0 calc(200/16 * 1rem);
    width: calc(200/16 * 1rem);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.person-detailed-listing__name {
  font-size: calc(28/16 * 1rem);
  font-weight: bold;
  font-family: "Lucida Grande", Verdana, sans-serif;
}

.person-detailed-listing__pronouns {
  font-size: calc(16/16 * 1rem);
  font-style: italic;
}

.person-detailed-listing__position {
  text-transform: uppercase;
  font-size: calc(16/16 * 1rem);
  margin-bottom: 1.5rem;
}

.person-details-listing__body {

  > * {
    margin-bottom: 1rem;
  }

}