blockquote.inline-quote {
  font-size: 1.9rem;
  font-family: Helvetia, Arial, sans-serif;
  font-style: italic;
  line-height: 1.5;
  margin-left: 0;
  margin-right: 0;

  padding-left: 2rem;
  border-left: 4px solid var(--color--text);
}

.inline-quote.setting--alignment--right {
  text-align: right;
  padding-left: 0;
  padding-right: 2rem;
  border-left: none;
  border-right: 4px solid var(--color--text);
}

.inline-quote.setting--alignment--center {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
}

.inline-quote__author-name {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.625rem;
}

.inline-quote__author-title {
  font-style: italic;
  font-size: 1rem;
  margin-top: 0.3125rem;
}