
.content-grid__cards {
  width: 100%;

  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  gap: calc(26/16 * 1rem);
}

.content-grid.setting--items-per-row--two {

  @media (min-width: calc(768/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
  }

}

.content-grid.setting--items-per-row--three {
  @media (min-width: calc(992/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }
}

.content-grid.setting--items-per-row--four {
  @media (min-width: calc(768/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
  }

  @media (min-width: calc(1200/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
  }
}

.content-grid.setting--items-per-row--five {
  @media (min-width: calc(992/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }

  @media (min-width: calc(1200/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(5, minmax(250px, 1fr));
    }
  }
}

.content-grid.setting--items-per-row--six {
  @media (min-width: calc(768/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
  }

  @media (min-width: calc(992/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }

  @media (min-width: calc(1200/16 * 1rem)) {
    .content-grid__cards {
      grid-template-columns: repeat(6, minmax(250px, 1fr));
    }
  }
}