.button {
  display: inline-flex;
  padding: rem(10px 25px);
  border-radius: rem(5px);

  background: var(--button--background-color);
  color: var(--button--text-color);
  text-decoration: none;
  border: 2px solid var(--button--background-color);

  box-shadow: unset;

  &:focus, &:hover {
    background: var(--button--background-color--hover);
    color: var(--button--text-color--hover);
    border-color: var(--button--text-color--hover);
  }
}

.button--primary {
  --button--background-color: var(--color--button--primary--background);
  --button--text-color: var(--color--button--primary--text);
  --button--background-color--hover: var(--color--button--primary--hover--background);
  --button--text-color--hover: var(--color--button--primary--hover--text);
}