@import '../../variables';

.view-header .rad-search-info {
  @include rem('font-size', 24px);
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
}

#views-exposed-form-ebp-site-search-page-1 {
  margin: 0;
  padding: 0;

  .form--inline {
    justify-content: flex-start;
  }
}
