@import "../../variables";

.block-local-tasks-block {
  max-width: var(--rad--content-width-normal);
  margin: 0 auto;

  nav.tabs {
    ul {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 0;
      border-bottom: 1px solid darkgray;
    }

    li {

      list-style-type: none;

    }

    a {
      display: block;
      border: 1px solid darkgray;
      text-decoration: none;
      padding: rem(3px 5px 5px 5px);
      font-size: rem(14px);
      color: #423983;
      background: #F8F2D3;

      &.is-active {
        color: #F8F2D3;
        background: #423983;
      }
    }
  }
}