{% extends "block--block-content.html.twig" %}

{% block content %}
  {% if content['#block_content'].field_media_title_fixed_bg.value %}
    {% set content_attributes = content_attributes.addClass('media-title--fixed-background') %}
  {% else %}

  {% endif %}

  <div{{ content_attributes.addClass('media-title') }}>
    <div class='media-title__background'>
      {{ content.field_media_title_background }}
    </div>
    <h2 class="media-title__content">
      {{ content.field_media_title_title }}
    </h2>
  </div>
{% endblock %}

