{% extends "block--block-content.html.twig" %}

{% block content %}
  <div{{ content_attributes.addClass('basic-hero') }}>
    {% include "radicati_components:button" with {
      button_text: content.field_button_link.0['#title'],
      button_url: content.field_button_link.0['#url'],
      button_target: "",
      button_type: "primary"
    } %}
  </div>
{% endblock %}

