{% extends "block--block-content.html.twig" %}

{% block content %}
  <div{{ content_attributes.addClass('resource-library') }}>
    <div class="resource-library__content">
      {{ drupal_view('radicati_resource_library_search', 'embed_1') }}
    </div>
  </div>
{% endblock %}

