{% extends "block--block-content.html.twig" %}

{% block content %}

  <div{{ content_attributes.addClass('people-listing') }}>
    {{ content.field_people_listing_details }}

    {{ content.field_people_listing_simple }}
  </div>
{% endblock %}

