@import '../../node_modules/sass-rem/rem';
@import '../../node_modules/include-media/dist/include-media';

// To avoid redeclaring them every time we include _variables.scss,
// the css variables have been moved to _css-variables.scss

// As of 1/26/2023 you can't use ccs3 variables in media queries so we have to stick with sass variables.

$breakpoints: (
        'sm': 36rem,
        'md': 48rem,
        'lg': 62rem,
        'xl': 85rem,
        'xxl': 90rem,
);


$breakpoint-sm: '>=sm';
$breakpoint-md: '>=md';
$breakpoint-lg: '>=lg';
$breakpoint-xl: '>=xl';
$breakpoint-xxl: '>=xxl';

:root {
  --rad--content-width-narrow: var(--rad--content-width-narrow-default);
  --rad--content-width-normal: var(--rad--content-width--default);
  --rad--content-width-wide: var(--rad--content-width-wide--default);

  @include media($breakpoint-sm) {
    --rad--content-width-narrow: var(--rad--content-width-narrow--sm);
    --rad--content-width-normal: var(--rad--content-width--sm);
    --rad--content-width-wide: var(--rad--content-width-wide--sm);
  }

  @include media($breakpoint-md) {
    --rad--content-width-narrow: var(--rad--content-width-narrow--md);
    --rad--content-width-normal: var(--rad--content-width--md);
    --rad--content-width-wide: var(--rad--content-width-wide--md);
  }

  @include media($breakpoint-lg) {
    --rad--content-width-narrow: var(--rad--content-width-narrow--lg);
    --rad--content-width-normal: var(--rad--content-width--lg);
    --rad--content-width-wide: var(--rad--content-width-wide--lg);
  }

  @include media($breakpoint-xl) {
    --rad--content-width-narrow: var(--rad--content-width-narrow--xl);
    --rad--content-width-normal: var(--rad--content-width--xl);
    --rad--content-width-wide: var(--rad--content-width-wide--xl);
  }
}