@import '../../node_modules/sass-rem/rem';
@import '../../node_modules/include-media/dist/include-media';

// To avoid redeclaring them every time we include _variables.scss,
// the css variables have been moved to _css-variables.scss

// As of 1/26/2023 you can't use ccs3 variables in media queries so we have to stick with sass variables.

$breakpoints: (
        'sm': 36rem,
        'md': 48rem,
        'lg': 62rem,
        'xl': 85rem,
        'xxl': 90rem,
);


$breakpoint-sm: '>=sm';
$breakpoint-md: '>=md';
$breakpoint-lg: '>=lg';
$breakpoint-xl: '>=xl';
$breakpoint-xxl: '>=xxl';