
.call-to-action {
  padding: calc(20/16 * 1rem) 5vw;
  position: relative;
  width: 100%;

  @media (min-width: calc(992/16 * 1rem)) {
    padding: calc(50/16 * 1rem) 0;
  }
}

.call-to-action {

  &.setting--alignment--center {
    .call-to-action__content {
      align-items: center;
    }
    .call-to-action__actions {
      justify-content: center;
    }
  }

  &.setting--alignment--left {
    .call-to-action__content {
      align-items: flex-start;
    }
    .call-to-action__actions {
      justify-content: flex-start;
    }
  }

  &.setting--alignment--right {
    .call-to-action__content {
      align-items: flex-end;
    }

    .call-to-action__actions {
      justify-content: flex-end;
    }
  }
}

.call-to-action__media {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /*background-color: color-mix(in srgb, var(--color--background) 85%, transparent);*/
    background-color: var(--color--background--overlay);
  }

  div:not(.contextual):not([data-drupal-ajax-container]):not([data-contextual-id]) {
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.call-to-action__content {
  padding: 0 3rem;
  position: relative;
  display: flex;
  flex-direction: column;

  h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: var(--color--text);
  }

  p {
    color: var(--color--text);
  }

  a {
    color: var(--color--link)
  }
}

.call-to-action__title {
  font-size: calc(45/16 * 1rem);
  text-transform: uppercase;
  font-family: sans-serif;
}

.call-to-action__actions {
  display: flex;
  flex-direction: row;
  width: 100%;
}