@import "../../variables";

#off-canvas {
  position: fixed;
  flex-direction: column;
  overflow-y: auto;
  bottom: 0;
  top: 0;
  left: 0;
  width: var(--rad--off-canvas-width);
  color: black;
  background-color: var(--rad--off-canvas-background);
  z-index: 1000;
  visibility: hidden;
  display: none;

  box-shadow: 2px 0 100px black;
  transform: translateX(-130%);
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;

  &[aria-hidden="false"] {


  }
}

#off-canvas.off-canvas--activating,
#off-canvas.off-canvas--deactivating,
#off-canvas.off-canvas--active {
  display: flex;
  visibility: visible;
}

#off-canvas.off-canvas--active {
  transform: translateX(0);
}

.off-canvas__overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color--gray--five);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out ;
  visibility: hidden;
}


.off-canvas__overlay.off-canvas__overlay--active {
  opacity: 0.5;
  visibility: visible;
}
