.block-local-tasks-block {
  max-width: var(--rad--content-width-normal);
  margin: 0 auto;
  padding: calc(5/16 * 1rem) 0;

  nav.tabs {
    border: 0;

    ul {
      display: flex;
      flex-direction: row;
      gap: calc(7/16 * 1rem);
      padding: 0;
      margin: 0;
    }

    li {

      list-style-type: none;

    }

    a {
      display: block;
      border-radius: calc(11/16 * 1rem);
      text-decoration: none;
      padding: calc(5/16 * 1rem) calc(10/16 * 1rem);
      font-size: calc(14/16 * 1rem);
      color: white;
      background: #154415;

      &.is-active {
        color: white;
        font-weight: bold;
        background: rgb(47, 131, 96);
      }
    }
  }
}