@import "../../variables";

.node__content > .setting-background--none {
  --component--color--alt: #232323;

  --color--background: transparent;
  --color--background--alt: var(--color--gray--five);
  --color--background--overlay: transparent;
  --color--text: var(--rad--color--light--text);
  --color--text--alt: var(--color--gray--two);
  --color--link: var(--rad--color--light--link);

  --color--button--primary--text: var(--color--gray--five);
  --color--button--primary--background: var(--color--gray--one);
  --color--button--primary--background--alt: var(--color--gray--four);

  --color--tab--text: black;
  --color--tab--background: var(--color--backround--alt);
  --color--tab--selected--text: var(--color--text);
  --color--tab--selected--background: var(--color--background);
}


//// For when a component that has its own background setting has none set.
//.layout-builder__section > div.setting-background--none {
//  --component--color--alt: #232323;
//
//  --color--background: transparent;
//  --color--background--overlay: transparent;
//  --color--text: var(--rad--color--light--text);
//  --color--link: var(--rad--color--light--link);
//  --color--button--primary--text: var(--color--gray--five);
//  --color--button--primary--background: var(--color--gray--one);
//
//  /**
//  Alt color styles are meant to be used together when there's a background color
//  set on the component.
//   */
//  --color--background--alt: lightgray;
//  --color--text--alt: var(--color--gray--two);
//  --color--link--alt: var(--rad--color--light--link);
//  --color--button--primary--text--alt: var(--color--text);
//  --color--button--primary--background--alt: var(--color--gray--four);
//
//  background: var(--color--background);
//  color: var(--color--text);
//
//  a {
//    color: var(--color--link);
//  }
//}
