@import "../../variables";

.node__content > *, .layout-builder__section > *, .layout-builder__region > * {
  background: var(--color--background);
  color: var(--color--text);

  a {
    color: var(--color--link);
  }

  button {
    color: red; //var(--color--text);
  }

  button[role=tab] {
    background: var(--color--tab--background);
    color: var(--color--tab--text);
  }

  button[role=tab][aria-selected=true] {
    background: var(--color--tab--selected--background);
    color: var(--color--tab--selected--text);
  }
}