@import "../../variables";

.setting-background--light {
  --component--color--alt: #232323;

  --color--background: var(--color--gray--five);
  //--color--background--overlay: rgba(0,0,0,0.5);
  --color--background--overlay: color-mix(in srgb, var(--color--background) 65%, transparent);
  --color--text: var(--rad--color--light--text);
  --color--link: var(--rad--color--light--link);
  --button--primary--text-color: var(--color--gray--five);
  --button--primary--background-color: var(--color--gray--one);

  /**
Alt color styles are meant to be used together when there's a background color
set on the component.
 */
  --color--background--alt: var(--color--gray--four);
  --color--text--alt: var(--color--gray--two);
  --color--link--alt: var(--rad--color--light--link);

  --color--tab--text: var(--color--gray--two);
  --color--tab--background: transparent;
  --color--tab--selected--text: var(--color--text);
  --color--tab--selected--background: var(--color--background--alt);


}