@import "../../variables";

// TODO: Background colors don't work correctly with input buttons.

.setting-background--dark {
  --component--color--alt: #b1b1b1;

  --color--background: var(--rad--color--dark--background);
  --color--background--overlay: rgba(0,0,0,0.35);
  --color--text: var(--rad--color--dark--text);
  --color--link: var(--rad--color--dark--link);
  --button--primary--text-color: var(--rad--color--dark--button--text);
  --button--primary--background-color: var(--rad--color--dark--button--background);
  --button--primary--background-color--hover: transparent;
  --button--primary--text--hover: var(--rad--color--dark--button--background);


  --color--background--alt: white;
  --color--text--alt: black;
  --color--link--alt: var(--rad--color--light--link);
  --color--button--primary--text--alt: var(--rad--color--dark--button--text-alt);
  --color--button--primary--background--alt: var(--rad--color--dark--button--background-alt);

  --color--tab--text: var(--color--gray--five);
  --color--tab--background: transparent;
  --color--tab--selected--text: var(--color--gray--two);
  --color--tab--selected--background: var(--color--gray--five);

  // for the layout builder button.
  --gin-color-primary: var(--color--button--primary--text);
}