
#off-canvas {
  position: fixed;
  flex-direction: column;
  overflow-y: auto;
  bottom: 0;
  top: 0;
  left: 0;
  width: var(--rad--off-canvas-width);
  color: black;
  background-color: var(--rad--off-canvas-background);
  z-index: 1000;
  visibility: hidden;
  display: none;

  box-shadow: 2px 0 100px black;
  transform: translateX(-130%);
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;

  &[aria-hidden="false"] {


  }
}

#off-canvas.off-canvas--activating,
#off-canvas.off-canvas--deactivating,
#off-canvas.off-canvas--active {
  display: flex;
  visibility: visible;
}

#off-canvas.off-canvas--active {
  transform: translateX(0);
}

#off-canvas-overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color--gray--five);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out ;
  visibility: hidden;
}


#off-canvas-overlay.off-canvas__overlay--active {
  opacity: 0.5;
  visibility: visible;
}

.off_canvas_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(5 / 16 * 1rem) calc(25 / 16 * 1rem);

  .block-system-branding-block {


    img {
      height: calc(100 / 16 * 1rem);
      width: auto;
    }
  }
}

.off-canvas__controls {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1rem 1rem;

  button.off-canvas-toggle {
    margin-left: auto;
    font-size: calc(30 / 16 * 1rem);
    border: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: black;
    color: white;
  }
}


.off_canvas_footer {
  margin-top: auto;
  padding: calc(25/16 * 1rem);
  position: relative;

  .block--block-content {
    padding: 0;
  }

  .field-buttons-buttons {
    a {
      display: block;
    }
  }
}