@import "../../variables";

.block-content--type-highlight {

  .field-media {
    margin-bottom: rem(20px);

    img {
      width: 100%;
      height: auto;
    }
  }

  .field-title-and-link {
    margin-bottom: rem(10px);

    a {
      font-size: rem(18px);
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      text-decoration: none;
      font-weight: 700;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }

}