.popup-content__background {
  opacity: 0;
  visibility: hidden;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: fixed;
  padding: 45px;

  background-color: #000000aa;

  z-index: 100000;

  &.show {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.popup-content__content__inner {

  border: 1px solid white;
}