@import "../../variables";

.header__primary-nav-wrapper {
  position: relative;
}

#block-searchform {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  padding: 1.25em;
  background: var(--color--brand--cream);;

  visibility: hidden;

  &[aria-hidden="false"] {
    visibility: visible;
  }
}