@import "../../variables";

.block--block-content--buttons {

  &.setting-alignment--right {
    .field-buttons-buttons {
      justify-content: flex-end;
    }
  }

  &.setting-alignment--center {
      .field-buttons-buttons {
        justify-content: center;
      }
  }

  &.setting-direction--vertical {

  }

  &.setting-direction--horizontal {
    .field-buttons-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .field-buttons-buttons {

    a {
      @extend .button;
      @extend .button--primary;

      margin-bottom: rem(20px);
      margin-right: rem(20px);
    }
  }

}