@import "../../variables";

.page-content {
  display: grid;
  grid-template-areas: "sidebar_one main sidebar_two";
  grid-template-columns: auto 1fr auto;

  max-width: var(--rad--content-max-width);
  margin: 0 auto;
}

.region-content {
  grid-area: main;
}

.region-sidebar-one {
  grid-area: sidebar_one;
  max-width: var(--rad--sidebar-one-width);
  margin-right: 1rem;
}

.region-sidebar-two {
  grid-area: sidebar_two;
  max-width: var(--rad--sidebar-one-width);
  margin-left: 1rem;
}