@import "../../variables";



.block--block-content.block--block-content--media-formatted-content {
  padding: 0;
  //min-height: 100vh;

  --color--content--background: rgba(255,255,255,0.7);

  &.setting-background--dark {
    --color--content--background: rgba(32,32,32,0.7);
  }

  .block__content__inner {
    position: relative;
    top: 0;
    bottom: 0;
    min-height: 100vh;

    color: var(--color--text);
    background-color: var(--color--content--background);
    width: 75vw;
    padding: rem(35px);
    box-sizing: border-box;

    @include media($breakpoint-md) {
      width: rem(300px);
      padding: rem(25px 45px);
    }

    @include media($breakpoint-lg) {
      width: rem(500px);
    }
  }

  &.setting-alignment--left {
    .block__content__inner {
      left: rem(200px);
    }
  }

  &.setting-alignment--center {
    text-align: left;

    .block__content__inner {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.setting-alignment--right {
    text-align: left;
    
    .block__content__inner {
      left: 50%;
      transform: translateX(-50%);

      @include media($breakpoint-md) {
        left: rem(400px);
        transform: unset;
      }

      @include media($breakpoint-md) {
        left: rem(800px);
      }
    }
  }
}