
.media-carousel {

}

.media-carousel__carousel-wrapper {

  @media (min-width: calc(786/16 * 1rem)) {
    margin: 0 auto;
    max-width: calc(700/16 * 1rem);
  }

  @media (min-width: calc(992/16 * 1rem)) {
    max-width: calc(900/16 * 1rem);
  }
}

/* This is for the editing interface, to make it easy to add/arrange multiple items. */

.media-carousel__carousel-wrapper .drop-zone {
  padding: 0.5rem;
  background: #fafaff;
  display: flex;
  flex-direction: row;

  > * {
    margin: 0.5rem;
    border: 1px solid black;
    padding: 1rem;
    max-width: 150px;
  }
}