

.icon-stat-grid {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.icon-stat-grid__cards {
  display: grid;
  gap: calc(22/16 * 1rem);
  grid-template-columns: 1fr 1fr;
}

.icon-stat-grid.setting--items-per-row--three {
  .icon-stat-grid__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.icon-stat-grid.setting--items-per-row--four {
  .icon-stat-grid__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.icon-stat-grid.setting--items-per-row--five {
  .icon-stat-grid__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.icon-stat-grid.setting--items-per-row--six {
  .icon-stat-grid__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}