

.icon-stat-grid {

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  /*.icon-stat-grid__cards,*/
  .icon-stat-grid__cards .field--items {
    @media (min-width: calc(768/16 * 1rem)) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: calc(25/16 * 1rem);
    }
  }

  &.setting--items-per-row--three {
    /*.icon-stat-grid__cards,*/
    .icon-stat-grid__cards .field--items {
      @media (min-width: calc(992/16 * 1rem)) {
          grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &.setting--items-per-row--three {
    /*.icon-stat-grid__cards,*/
    .icon-stat-grid__cards .field--items {
      @media (min-width: calc(992/16 * 1rem)) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

}
