@import "../../variables";

.block--block-content.block--block-content--media-title {
  padding: 0;
  position: relative;

  &.setting-alignment--left {
    .media-title__content {
      left: rem(100px);
    }
  }

  &.setting-alignment--center {
    .media-title__content {
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }

  &.setting-alignment--right {
    .media-title__content {
      right: rem(100px);
      text-align: right;
    }
  }
}

.media-title {
  position: relative;
  height: 100vh;
}

.media-title__content {
  position: absolute;
  bottom: rem(75px);
  color: var(--color--text);
}
