.hero-content-button {
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: calc(26/16 * 1rem);
    box-sizing: border-box;

    font-family: "Lucida Grande", Verdana, sans-serif;
  }
}