@import "../../variables";

// Strongarms some styles to force them to fit in a smaller header.

body.radicati-header-type--single {

  header.header {
    height: rem(65px);
  }

  .block-system-branding-block {
    max-height: rem(65px);
  }

  .header__inner {

    @include media($breakpoint-md) {
      grid-template-areas: "branding secondarynav primarynav";
    }
  }

  .secondary_navigation {
    height: 100%;
  }

  .primary_navigation {
    height: 100%;

    .block-rad-button-block {
      .block__content {
        height: 100%;
      }
    }

    button {
      font-size: rem(20px);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}