@import "../../variables";

.paragraph--type--statistic-item {
  text-align: center;
}

.field-stat-label {
  font-size: rem(35px);

  h3 {
    margin: rem(10px 0 20px 0);
    color: var(--color--text--alt);
  }
}

.field-stat-value {
  font-size: rem(20px);
}