.icon-grid__icons {
  display: grid;
  gap: calc(22/16 * 1rem);
  grid-template-columns: 1fr 1fr;
}

.icon-grid__icons {
  grid-template-columns: 1fr;
}

.icon-grid.setting--items-per-row--three {

  @media (min-width: calc(768 / 16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.icon-grid.setting--items-per-row--four {

  @media (min-width: calc(768/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: calc(992/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.icon-grid.setting--items-per-row--five {
  @media (min-width: calc(768/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: calc(992/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: calc(1200/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.icon-grid.setting--items-per-row--six {
  @media (min-width: calc(768/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: calc(992/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: calc(1200/16 * 1rem)) {
    .icon-grid__icons {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }


}