
header.header-two-row {
  position: relative;
  z-index: 10;
}

.header-two-row__row {

  @media (min-width: calc(576/16 * 1rem)) {

  }

  @media (min-width: calc(768/16 * 1rem)) {

  }

  @media (min-width: calc(992/16 * 1rem)) {

  }

  @media (min-width: calc(1200/16 * 1rem)) {

  }

}

.header-two-row__row-inner {
  margin: 0 auto;
  max-width: var(--rad--content-width-normal);
}

/** The header rows **/
.header-two-row__top-row {


  .header-two-row__row-inner {
    display: flex;
    justify-content: flex-end;
  }
}

.header-two-row__bottom-row  {

  background: lightgray;

  .header-two-row__row-inner {
    display: flex;
    justify-content: flex-start;
  }
}





.header-two-row__branding-wrapper {
}

.header-two-row__primary-nav-wrapper {
  margin-left: auto;

  display: none;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: calc(768/16 * 1rem)) {
    display: flex;
  }
}

.header-two-row__menu-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: auto;

  @media (min-width: calc(768/16 * 1rem)) {
    display: none;
  }
}


.region--primary-navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  /**
      The primary nav is normally done with the Superfish module.
   */

}

/**
Secondary Navigation styles
 */

.header-two-row__row-inner {

  .navigation {

    ul.menu--level-1 {
      margin: 0;
      padding: 1.5rem 0;
      list-style: none;
      display: flex;
      gap: calc(20 / 16 * 1rem);
      flex-direction: row;

      li {

      }

      a {
        color: var(--color--academic-gold);
        font-family: "Lucida Grande", Verdana, sans-serif;
        font-size: calc(14/16 * 1rem);
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}